<mat-toolbar>
  Login NodeJS - Fastify |

  <ng-container *ngIf="(autheticated$ | async ) && (user$ | async )">
    <button mat-icon-button routerLink="/home/people">
      &nbsp;&nbsp;<mat-icon>home</mat-icon>&nbsp;Home
    </button>
  </ng-container>

  <span fxFlex></span>
  <ng-container *ngIf="!(autheticated$ | async )">
    <button mat-button routerLink="/auth/login">
      <mat-icon>input</mat-icon>
      Logar
    </button>

    <button mat-button routerLink="/auth/register">
      <mat-icon>personadd</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="(autheticated$ | async ) && (user$ | async )">
    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </ng-container>

</mat-toolbar>

<router-outlet></router-outlet>